* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    /*   viewport units: vh (viewport height)  vw (viewport width)  vmin (smallest between a vh and a vw whatever those values are)  */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    background-image: url('https://media.tenor.com/FPeoC2M4Z3IAAAAC/gritty-flyers-mascot.gif');
    background-size: cover;
    background-color: rgb(42, 42, 42);
}

header {
    color: rgba(255, 156, 74, 0.86);
    text-shadow: whitesmoke -1px 1px, darkorange -2px 2px, black -3px 3px;
    font-size: 7vmin;
    letter-spacing: .37vmin;
    margin: -42px;
    margin-top: 2vmin;
    text-align: center;
}

h1 {
    margin: 2vmin;
    font-size: 2.5vmin;
    color: whitesmoke;
    text-shadow: rgba(255, 176, 112, 0.86) -.25px .25px, black -.5px .5px;

}

h2 {
    color: whitesmoke;
    text-shadow: rgba(255, 176, 112, 0.86) -.5px .5px, darkorange -.75px .75px, black -1px 1px;
    font-size: 3.5vmin;
    letter-spacing: .37vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 17.3vmin);
    grid-template-rows: repeat(3, 17.3vmin);
    gap: 1vmin;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: -1.37vmin;
    margin-bottom: 2vmin;
}

#board>div {
    border-radius: 0%;
    border: 2vmin double rgba(245, 245, 245, 0.73);
    filter: will-change;
}

#board div.avail {
    cursor: pointer;
}

#board>div.avail:hover {
    transform: scale(1.05);
    transition: transform 142ms ease-in;
    border-color: rgba(255, 156, 74, 0.86);
    filter: drop-shadow(0 0 vmin orange);

}

input {
    color: whitesmoke;
    margin: 1vmin 0 0 0 auto;
}

button {
    margin-top: 2vmin;
    margin-bottom: 12vmin;
    padding: 1.42vmin;
    font-size: 3vmin;
    border-radius: 3vmin;
    border: 6px black double;
    background-color: rgba(255, 156, 74, 0.86);
    ;
    color: rgba(255, 255, 255, .69);
    text-shadow: -.5px .5px rgba(155, 74, 8, 0.86) -1px 1px black;
    font-family: 'Amatic SC', cursive;
    filter: will-change;
    cursor: pointer;
}

button:disabled {
    background-color: transparent;
    color: transparent;
    border: transparent;
    text-shadow: transparent;
    font-size: .01px;
}

button:hover {
    filter: drop-shadow(0 0 2vmin orange);
    background-color: rgba(245, 245, 245, 0.73);
    color: rgba(255, 176, 112, 0.86);
    transform: scale(105%);
    transition: ease-in 142ms;
}

button:hover:not(:disabled) {
    background-color: rgba(245, 245, 245, 0.73);
    color: rgba(255, 176, 112, 0.86);
}


@media (max-width: 780px) {
    * {
        color: whitesmoke;
        text-shadow: -1px 1px rgba(245, 137, 49, 0.86), -2px 2px black;
    }

    body {
        background-size: cover;
        background-color: rgb(42, 42, 42);
        font-family: 'Amatic SC', cursive;

    }

    #hdr{
    margin-bottom: 3vmin;
    }

    .h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 3vmin;
        margin-top: -1vmin;
    }

    #board {
        margin: 8vmin auto;
        grid-template-columns: repeat(3, 25vmin);
        grid-template-rows: repeat(3, 25vmin);

    }
}